<ng-template class="" #createEmployeeModal let-modal  >
    <div class="modal-header">
        <h5 class="modal-title">Thông tin nhân viên</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="CloseModal()"></button>
    </div>
    <form #employeeForm="ngForm" novalidate (ngSubmit)="onSubmit(employeeForm)">
        <div class="modal-body pb-4">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="row mb-1">
                    <div class="col-4 pe-0 ">
                        <label for="code">Mã <span class="text-danger">*</span></label>
                        <input #codeInputElement pInputText type="text" [(ngModel)]="employee.code" id="code" name="code" class="w-100" #code="ngModel" required Autofocus>
                        <div *ngIf="isSubmit || (code.invalid && (code.dirty || code.touched))">
                            <div class="text-center position-relative">
                                <div class="error-input" *ngIf="code.hasError('required')">Mã không được để trống.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <label for="name">Tên <span class="text-danger">*</span></label>
                        <input type="text" [(ngModel)]="employee.name" id="name" name="name"  class="w-100" #name="ngModel" required>
                        <div *ngIf="isSubmit || (name.invalid && (name.dirty || name.touched))" class="text-center position-relative">
                            <div class="error-input" *ngIf="name.hasError('required')">Tên không được để trống.</div>
                        </div>
                    </div>
                </div>
                <div class="" style="margin-bottom: 4px;">
                    <label for="">Đơn vị <span class="text-danger">*</span></label>
                    <select class="w-100"  [(ngModel)]="employee.department" name="department" #department="ngModel" required>
                        <option value="HR">HR</option>
                        <option value="IT">IT</option>
                        <option value="Kế toán">Kế toán</option>
                        <option value="Kinh doanh">Kinh doanh</option>
                    </select>
                    <div *ngIf="isSubmit || (department.invalid && (department.dirty || department.touched))" class="text-center position-relative">
                        <div class="error-input" *ngIf="department.hasError('required')">Đơn vị không được để trống.</div>
                    </div>
                </div>
                <div class="mb-1">
                    <label for="">Chức danh</label>
                    <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="employee.position" name="position"  class="w-100">
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="row mb-1">
                    <div class="col-5 pe-0">
                        <label for="" class="">Ngày sinh</label>
                        <input type="date" [ngModelOptions]="{standalone: true}" [(ngModel)]="employee.birthday" name="birthday" class="w-100" id="" required>
                    </div>
                    <div class="col-7">
                        <label for="">Giới tính</label>
                        <div class="" style="height: 30px;">
                            <div class="form-check form-check-inline text-center">
                                <input class="form-check-input " type="radio" [ngModelOptions]="{standalone: true}" [(ngModel)]="employee.sex" name="sex" value="male" style="margin-top: 6px;">
                                <label class="form-check-label" for="male" style="font-weight: normal; font-size: medium;">Nam</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" [ngModelOptions]="{standalone: true}" [(ngModel)]="employee.sex" name="sex" value="female" style="margin-top: 6px;">
                                <label class="form-check-label" for="female" style="font-weight: normal; font-size: medium;">Nữ</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" [ngModelOptions]="{standalone: true}" [(ngModel)]="employee.sex" name="sex" value="other" style="margin-top: 6px;">
                                <label class="form-check-label" for="other" style="font-weight: normal; font-size: medium;">Khác</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-7">
                        <label for="">Số CMND</label>
                        <input class="w-100" [ngModelOptions]="{standalone: true}" [(ngModel)]="employee.identificationCard" name="identificationCard" type="text" name="" id="">
                    </div>
                    <div class="col-5">
                        <label for="">Ngày cấp</label>
                        <input type="date" [ngModelOptions]="{standalone: true}" [(ngModel)]="employee.dateOfIssue" name="dateOfIssue" class="w-100">
                    </div>
                </div>
                <div class="">
                    <label for="">Nơi cấp</label>
                    <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="employee.placeOfIssue" name="placeOfIssue" class="w-100">
                </div>
            </div>
        </div>
        <div class="mt-4 mb-2">
            <label for="">Địa chỉ</label>
            <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="employee.address" name="address" class="w-100">
        </div>
        <div class="row">
            <div class="col-lg-3 col-4 me-0">
                <label for="">ĐT di động</label>
                <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="employee.phoneNumber" name="phoneNumber" class="w-100">
            </div>
            <div class="col-lg-3 col-4 ps-0">
                <label for="">ĐT cố định</label>
                <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="employee.landlineNumber" name="landlineNumber" class="w-100">
            </div>
            <div class="col-lg-3 col-4 ps-0">
                <label for="">Email</label>
                <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="employee.email" name="email" email class="w-100">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-4 me-0">
                <label for="">Tài khoản ngân hàng</label>
                <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="employee.accountNumber" name="accountNumber" class="w-100">
            </div>
            <div class="col-lg-3 col-4 ps-0">
                <label for="">Tên ngân hàng</label>
                <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="employee.bankName" name="bankName" class="w-100">
            </div>
            <div class="col-lg-3 col-4 ps-0">
                <label for="">Chi nhánh</label>
                <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="employee.bankBranch" name="bankBranch" class="w-100">
            </div>
        </div>
        </div>
        <div class="modal-footer mt-2">
            <a class="btn border my-0" style="width: 80px;" (click)="CloseModal()">Hủy</a>
            <div class="ms-auto my-0">
                <a class="btn border my-0 me-1" style="width: 80px" (click)="SaveModal()">Cất</a>
                <button type="submit" class="btn btn-primary my-0" >Cất và thêm</button>
            </div>
        </div>
    </form>
</ng-template>

<style>
    @media (min-width: 992px) {
    .modal-lg, .modal-xl {
        width: 1000px !important;
    }
    }

    input, select {
        color: #333;
        font-size: small;
        height: 30px;
    }

    input[type="radio"] {
        height: 14px;
    }

    label {
        font-weight: bold;
        font-size: small;
    }

    .error-input {
        position: absolute;
        background-color: #333;
        color: white;
        font-size: x-small;
        padding: 0 2px;
        /* min-width: 150px; */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap; /* Ngăn chữ xuống dòng */
    }
</style>