<div class="modal-header p-0 mx-2">
  <h4 class="modal-title p-2">Xác nhận</h4>
</div>
<div class="modal-body p-2 mx-2 border-0" style="font-family: 'MyFont', sans-serif;">
  <p>{{ message }}</p>
</div>
<div class="modal-footer border-0">
  <button type="button" class="btn btn-secondary" (click)="dismiss()">Hủy</button>
  <button type="button" class="btn btn-primary" (click)="confirm()">Xác nhận</button>
</div>

<style>
  .modal-header {

  }
  .close {
    font-size: 20px;
    border: 1 solid black;
    border-radius: 100%;
    background-color: transparent;
  }
</style>